build/*
vsbuild/*
vsbuild-release/*
RELEASE/*

examples/_build/*
examples/build/*
examples/vsbuild/*
examples/cmake/cpp.cmake
examples/ResourceDir.hpp

project-template/_build/*
project-template/build/*
project-template/vsbuild/*
project-template/vsbuild-release/*
project-template/cmake/cpp.cmake
project-template/lib/benchmarks/googlebench/*
project-template/deps/*
project-template/src/bin/.clang-format
project-template/src/lib-engines/.clang-format
project-template/src/lib-events/.clang-format
project-template/src/lib-game/.clang-format
project-template/src/lib-app/.clang-format
project-template/src/lib-settings/.clang-format
project-template/src/tests/.clang-format
