build/*
vsbuild/*
vsbuild-release/*
RELEASE/*

examples/_build/*
examples/build/*
examples/vsbuild/*
examples/cmake/cpp.cmake
examples/cmake/utils.cmake
examples/ResourceDir.hpp

project-template/_build/*
project-template/build/*
project-template/vsbuild/*
project-template/vsbuild-release/*
project-template/cmake/cpp.cmake
project-template/cmake/utils.cmake
project-template/lib/benchmarks/googlebench/*
project-template/deps/*
