build/*
vsbuild/*

examples/build/*
examples/vsbuild/*
examples/cmake/cpp.cmake
examples/cmake/utils.cmake
exanokes/ResourceDir.hpp

project-template/build/*
project-template/vsbuild/*
project-template/cmake/cpp.cmake
project-template/cmake/utils.cmake
